@font-face{
    font-family: carolingia;
    src: url(../tipografia/carolingia.ttf);
}
@font-face {
    font-family: Abel;
    src: url(../tipografia/Abel-Regular.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #dddbdb;
}
.sectionvideo{
    width: 100%;
 max-height: 150vh;
 min-height: 50vh;
 background-color: #111314 !important;
}
.titulo-1{
    color: #B21F1A;
    font-size: 40px;
    font-family: Carolingia ;
}
.zi2{
    max-width: 650px;
}
.diavlo{
    text-align: justify;
    font-family: Abel;
    color: #fff;
    font-size: 20px;
}